.parent1 {
  background-color: rgb(26, 188, 156) !important;
  .container {
    .icc {
      display: flex;
      justify-content: center;
      align-items: center;
      .linear {
        height: 4px;
        width: 120px;
        border-radius: 5px;
        margin: 0 5px;
        background-color: white;
      }
      .icon {
        .icons {
          font-size: 40px;
          color: white;
        }
      }
    }
    .row{
        div{
            p{
                font-size: 19px;
            }
        } 
    }
    div{
           

        a{
             border: 2px solid white;
            text-decoration: none;
            font-size: 20px;
            padding: 20px;
            border-radius: 10px;
        }
    }
  }
}
