nav {
  background-color: rgb(44, 62, 80) !important;
  position: sticky !important;
  top: 0px;
  z-index: 10;
  button {
    background-color: rgb(26, 188, 156) !important;
    padding: 10px !important;
    font-size: 16px !important;
    .here {
      font-size: 20px;
    }
  }
  .collapse {
    a {
      color: white !important;
      font-weight: bold;
      transition: 0.5s;
      @media screen and (min-width: 700px) {
        &:hover {
          background-color: rgb(26, 188, 156);
          border-radius: 5px;
          color: white;
        }
      }

      @media screen and (max-width: 700px) {
        &:hover {
          color: rgb(26, 188, 156) !important;
    
        
        }
      }
    }
  }
}
